@import 'main-styles';
@import '../components/Nav/nav';
@import '../components/Categories/categories';
@import '../components/Car/car';
@import '../components/About/about';
@import '../components/Hero/hero';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');


html, body {
  font-family: 'Montserrat', sans-serif;
}

.wrapper{
  height: 100%;
}

.home-wrapper{
  background: rgb(113,194,176) linear-gradient(315deg, rgba(113,194,176,1) 0%, rgba(56,18,93,1) 100%) fixed;
  padding: 80px 50px 50px 50px
}

.cat-wrapper{
  height: 89.5vh;
  background: rgb(30,29,29) linear-gradient(315deg, rgba(222,74,74,1)  0%, rgba(30,29,29,1) 100%) fixed;
}

.comp-wrapper{
  height: 89.5vh;
  background: rgb(185,43,39) linear-gradient(315deg, rgba(185,43,39,1) 0%, rgba(10,54,149,1) 100%) fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  
  h2{
    color: #fff;
    text-align: center;
    padding-top: 200px;
  }
}

.cont-wrapper{
  height: 89.5vh;
  background: rgb(46,191,145) linear-gradient(315deg, rgba(46,191,145,1) 0%, rgba(131,96,195,1) 100%) fixed;
}

a{
  text-decoration: none;
  color: #fff;
}