@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.centering {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  background-color: #ccc;
}

nav .nav-name {
  color: #000;
  margin-left: 40px;
}

nav .signup {
  margin-right: 40px;
  color: #000;
  font-size: 30px;
}

nav .nav-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

nav .nav-ul li {
  padding-right: 20px;
  font-size: 15px;
}

nav .nav-ul a {
  text-decoration: none;
  position: relative;
  display: block;
  padding: 10px 0;
  margin: 0 6px;
  text-transform: uppercase;
  -webkit-transition: color 0.1s, background-color 0.1s;
  transition: color 0.1s, background-color 0.1s;
  color: #000;
}

nav .nav-ul a.active {
  color: #541515;
}

nav .nav-ul a:hover {
  color: #541515;
}

nav .nav-ul a::before {
  content: '';
  display: block;
  position: absolute;
  top: 100%;
  height: 3px;
  width: 100%;
  background-color: #541515;
  -webkit-transform-origin: center top;
  transform-origin: center top;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  transition: color 0.1s, -webkit-transform 0.2s ease-out;
  -webkit-transition: color 0.1s, -webkit-transform 0.2s ease-out;
  transition: color 0.1s, transform 0.2s ease-out;
  transition: color 0.1s, transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
}

nav .nav-ul a:hover::before,
nav .nav-ul .active:before {
  -webkit-transform-origin: center top;
  transform-origin: center top;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}

.categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 70%;
  margin: 0 auto;
  padding-top: 50px;
}

.categories:hover .car {
  -webkit-filter: blur(3px);
          filter: blur(3px);
  opacity: .5;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.categories:hover .car:hover {
  border-radius: 20px;
  -webkit-filter: blur(0px);
          filter: blur(0px);
  opacity: 1;
  -webkit-box-shadow: 0 8px 20px 0px rgba(0, 0, 0, 0.125);
          box-shadow: 0 8px 20px 0px rgba(0, 0, 0, 0.125);
}

.car {
  position: relative;
  background-color: rgba(255, 255, 255, 0.3);
  width: 130px;
  height: 140px;
  margin: 20px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 10px;
}

.car img {
  opacity: 0.7;
  position: absolute;
  height: 80px;
  width: 80px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.full-card {
  height: 600px;
  width: 1400px;
  background-color: rgba(255, 255, 255, 0.5);
}

.hero-info {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  padding: 40px 50px;
  position: relative;
  width: 45%;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.hero-info:before, .hero-info:after,
.hero-info > :last-child:before,
.hero-info > :last-child:after {
  position: absolute;
  width: 50px;
  height: 50px;
  border-color: white;
  border-style: solid;
  content: " ";
  -webkit-transition: all 0.5s cubic-bezier(0.11, 0, 0.5, 0);
  transition: all 0.5s cubic-bezier(0.11, 0, 0.5, 0);
}

.hero-info:before {
  top: -5px;
  left: -5px;
  border-width: 1px 0 0 1px;
}

.hero-info:after {
  top: -5px;
  right: -5px;
  border-width: 1px 1px 0 0;
}

.hero-info > :last-child:before {
  bottom: -5px;
  right: -5px;
  border-width: 0 1px 1px 0;
}

.hero-info > :last-child:after {
  bottom: -5px;
  left: -5px;
  border-width: 0 0 1px 1px;
}

.hero-info:hover:before, .hero-info:hover:after,
.hero-info:hover > :last-child:before,
.hero-info:hover > :last-child:after {
  width: 351px;
  height: 140px;
}

.hero-info h1 {
  color: #fff;
  text-align: center;
  padding-bottom: 50px;
}

.hero-info p {
  color: #fff;
  text-align: center;
  font-size: 20px;
}

.hero-info + .hero-info {
  margin-left: 760px;
}

.inst div, .inst div::before, .inst div::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.inst {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 120px;
  height: 100vh;
}

.inst h1 {
  color: #fff;
}

.inst p {
  font-size: 20px;
  text-align: center;
}

.inst div {
  margin: 300px auto;
  color: #fff;
  width: 320px;
  height: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.inst div::before, .inst div::after {
  content: "";
  z-index: 1;
  margin: -5%;
  -webkit-box-shadow: inset 0 0 0 2px;
          box-shadow: inset 0 0 0 2px;
  -webkit-animation: clipMe 8s linear infinite;
          animation: clipMe 8s linear infinite;
}

.inst div::before {
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
}

@-webkit-keyframes clipMe {
  0%,
  100% {
    clip: rect(0px, 352px, 2px, 0px);
  }
  25% {
    clip: rect(0px, 2px, 352px, 0px);
  }
  50% {
    clip: rect(350px, 352px, 352px, 0px);
  }
  75% {
    clip: rect(0px, 352px, 352px, 350px);
  }
}

@keyframes clipMe {
  0%,
  100% {
    clip: rect(0px, 352px, 2px, 0px);
  }
  25% {
    clip: rect(0px, 2px, 352px, 0px);
  }
  50% {
    clip: rect(350px, 352px, 352px, 0px);
  }
  75% {
    clip: rect(0px, 352px, 352px, 350px);
  }
}

.inst img {
  position: absolute;
  height: 200px;
  width: 200px;
  top: 300px;
  left: 110px;
}

.inst img + img {
  top: 300px;
  left: 1090px;
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

html, body {
  font-family: 'Montserrat', sans-serif;
}

.wrapper {
  height: 100%;
}

.home-wrapper {
  background: #71c2b0 linear-gradient(315deg, #71c2b0 0%, #38125d 100%) fixed;
  padding: 80px 50px 50px 50px;
}

.cat-wrapper {
  height: 89.5vh;
  background: #1e1d1d linear-gradient(315deg, #de4a4a 0%, #1e1d1d 100%) fixed;
}

.comp-wrapper {
  height: 89.5vh;
  background: #b92b27 linear-gradient(315deg, #b92b27 0%, #0a3695 100%) fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.comp-wrapper h2 {
  color: #fff;
  text-align: center;
  padding-top: 200px;
}

.cont-wrapper {
  height: 89.5vh;
  background: #2ebf91 linear-gradient(315deg, #2ebf91 0%, #8360c3 100%) fixed;
}

a {
  text-decoration: none;
  color: #fff;
}
/*# sourceMappingURL=style.css.map */