.nav{
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;

    .nav-name{
        color: #fff;
        margin-left: 40px;
    }

    .search{
        margin-right: 40px;
        color: #fff;
        font-size: 25px;
    }

    .nav-ul{
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style: none;

        li{
            padding-right: 20px;
            font-size: 20px;
        }

        a{
            text-decoration: none;
            color: #fff;
        }
    }
}
